#todo .todomain .list-item {
	width: 100%;
}

#todo .todomain .list-item input {
	background: transparent;
	border: 0;
	font-size: 30px;
	cursor: pointer;
}

#todo .todomain .todo-list li {
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
}

#todo .todomain .completed{
	color: var(--color4);
	text-decoration: line-through;
}

#todo .todomain .todo-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

#todo .todomain .todo-list li:last-child {
	border-bottom: none;
}

#todo .todomain .todo-list li .delete {
	display: none;
	font-size: 30px;
	color: var(--color4);
	background-color: transparent;
	border: 0;
}

#todo .todomain .todo-list li .delete:hover {
	color: var(--color4);
	cursor: pointer;
}

#todo .todomain .todo-list li .delete:after {
	content: '×';
}

#todo .todomain .todo-list li:hover .delete {
	display: block;
}