.d-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.list-item {
	width: 100%;
}

.list-item input {
	background: transparent;
	border: 0;
}

.todo-list li {
	position: relative;
	border-bottom: 1px solid #ededed;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:focus {
	outline: 0;
}

.completed{
	color: #d9d9d9;
	text-decoration: line-through;
}

.todo-list {
	margin: 0;
	padding: 0;
	list-style: none;
}



.todo-list li:last-child {
	border-bottom: none;
}


.todo-list li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 30px;
	color: #cc9a9a;
	margin-bottom: 11px;
	transition: color 0.2s ease-out;
}

.todo-list li .destroy:hover {
	color: #af5b5e;
}

.todo-list li .destroy:after {
	content: '×';
}

.todo-list li:hover .destroy {
	display: block;
}