
#todo .todofooter .items {
	color: var(--color3);
	border-bottom: solid 1px var(--color3);
	margin: 5px;
}

#todo .todofooter div {
	display: flex;
	align-items: center;
}

#todo .todofooter .buttons {
	display: flex;
	align-items: center;
}

#todo .todofooter .buttons li {
	display: flex;
	align-items: center;
}

#todo .todofooter .buttons li a {
	background: var(--color4);
    color: var(--color3);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
	text-decoration: none;
	border: solid 2px var(--color4);
}

#todo .todofooter .buttons li a:hover {
	border-color: var(--color3);
	background-color: var(--color5);
}

#todo .todofooter .buttons li a.selected {
	border-color: var(--color3);
	background-color: var(--color5);
}