#todo .todoheader {
	background: var(--color2);
    padding: 15px;
    border-radius: 10px;
	margin-top: 10px;
    margin-bottom: 10px;
}

#todo .todomain {
	background: var(--color2);
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#todo .todofooter {
    background: var(--color2);
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#todo input::-webkit-input-placeholder {
	font-weight: 300;
	color: var(--color1);
}

#todo input::-moz-placeholder {
	font-weight: 300;
	color: var(--color1);
}

#todo input::input-placeholder {
	font-weight: 300;
	color: var(--color1);
}


