#todo .todoheader {
	background: var(--color2);
    padding: 15px;
    border-radius: 10px;
	margin-top: 10px;
    margin-bottom: 10px;
}

#todo .todomain {
	background: var(--color2);
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#todo .todofooter {
    background: var(--color2);
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#todo input::-webkit-input-placeholder {
	font-weight: 300;
	color: var(--color1);
}

#todo input::-moz-placeholder {
	font-weight: 300;
	color: var(--color1);
}

#todo input::input-placeholder {
	font-weight: 300;
	color: var(--color1);
}

#todo .d-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

#todo input:focus {
	outline: 0;
}

#todo {
	max-height: 410px;
    overflow-y: auto;
}

#todo::-webkit-scrollbar {
	display: none;
}

@media screen and (max-width: 734px) {
	#todo {
		margin: 40px;
		max-height: inherit;
		overflow: inherit;
	}
	
	#todo .todomain .list-item input {
		font-size: 20px;
	}

	#todo .todofooter div {
		flex-direction: column;
	}

	#todo .todofooter .buttons {
		flex-direction: column;
		margin: 0;
		padding: 0;
	}

	#todo .todofooter .buttons li a {
		width: 250px;
	}
}

@media screen and (max-width: 425px) {
	#todo .todomain .list-item input {
		font-size: 12px;
	}

	#todo .todofooter .buttons li a {
		width: 190px;
	}

	#todo .todoheader .todo-add {
		font-size: 15px;
	}
}

@media screen and (max-width: 320px) {
	#todo .todomain .list-item input {
		font-size: 12px;
	}
	#todo .todofooter .buttons li a {
		width: 150px;
		font-size: 12px;
	}
}