.todoapp input::-webkit-input-placeholder {
	font-weight: 300;
	color: #e6e6e6;
}

.todoapp input::-moz-placeholder {
	font-weight: 300;
	color: #e6e6e6;
}

.todoapp input::input-placeholder {
	font-weight: 300;
	color: #e6e6e6;
}


.todoapp .bheader {
	background: #ffffff5c;
    padding: 15px;
    border-radius: 10px;
	margin-top: 10px;
    margin-bottom: 10px;
}

.todoapp .bmain {
	background: #ffffff5c;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer.bfooter {
    background: #ffffff5c;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}