@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
	--font: 'Rubik', sans-serif;
	--color1: #e6e6e6;
	--color2: #ffffff5c;
	--color3: #fff;
	--color4: #0075ff;
	--color5: #04264f;
	--color6: #00a0dc;
	--color7: #28d346;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font);
	background-image: linear-gradient(to right, var(--color6) , var(--color7));
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 734px) {
	body {
		display: block;
	}
}