#todo .todoheader .todo-add {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 25px;
	color: inherit;
	padding: 8px;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#todo .todoheader .todo-add {
	border-color: var(--color4);
}

#todo .todoheader form .todo-add {
	background: var(--color3);
	border-radius: 10px;
}